<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Calculadora de COCOMO avanzado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="lib/bulma.min.css" />
    <script src="lib/vue.min.js"></script>
</head>
<body>
    <div id='app'>
        <section class="hero is-medium is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        {{l("programName")}}.
                    </h1>

                    <div class='select'>
                        <select v-model='lang'>
                            <option value='es'>Español</option>
                            <option value='en'>English</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">1. {{l("subsystems")}}</h1>
                    <h2 class='subtitle'>{{l("identifySubsystems")}}</h2>
                </div>
            </div>
        </section>

        <section id='subsistemas' class='section'>
            <div class='container'>
                

                <div class='preview section'>
                    <form class="field has-addons" @submit.prevent='subsystems.splice(i, 1)' v-for='(subsys, i) in subsystems'>
                        <div class="control">
                            <input class="input" :placeholder="l('subsystemName')" v-model='subsys.name' />
                        </div>
                        <div class='control'>
                            <button type='submit' class="button is-link is-danger">{{l('delete')}}</button>
                        </div>
                    </form>
                </div>
                
                <form class="field has-addons" @submit.prevent='addSubsystem'>
                    <div class="control">
                        <input class="input" :placeholder="l('subsystemName')" v-model='newsubsystem.name' />
                    </div>
                    <div class='control'>
                        <button type='submit' class="button is-link is-success">{{l('add')}}</button>
                    </div>
                </form>
            </div>
        </section>

        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">2. {{l('modules')}}.</h1>
                    <h2 class='subtitle'>{{l('identifyModules')}}.</h2>
                </div>
            </div>
        </section>

        <section id='subsistemas' class='section'>
            <div class='container'>
                <div class="columns">
                    <div class='column' v-for='(subsys, i) in subsystems'>
                        <h1 class='title'>{{subsys.name}}</h1>
                        <h2 class='subtitle'>LOC: {{subsystemLOC(subsys)}}</h2>
                        
                        <form class="box" @submit.prevent='subsystems[i].modules.splice(moduleID, 1)' v-for='(module, moduleID) in subsys.modules'>
                            <div class='field'>
                                <label class="label">{{l('moduleName')}}:</label>
                                <div class="control">
                                    <input class="input" :placeholder="l('moduleName')" v-model='subsystems[i].modules[moduleID].name' />
                                </div>
                            </div>

                            <div class='field'>
                                <label class="label">{{l('loc')}}:</label>
                                <div class="control">
                                    <input class="input" type="number" v-model='subsystems[i].modules[moduleID].loc' min='0' />
                                </div>
                            </div>

                            <div class='field'>
                                <label class="label">AAF:</label>
                                <div class="control">
                                    <input class="input" type="number" v-model='subsystems[i].modules[moduleID].aaf' min='0' />
                                </div>
                            </div>

                            <div class='field'>
                                <div class='control'>
                                    <button type='submit' class="button is-link is-danger">{{l('delete')}}</button>
                                </div>
                            </div>
                        </form>
                        

                        <form class="field has-addons" @submit.prevent='addModule(i)'>
                            <div class="control">
                                <input class="input" :placeholder="l('moduleName')" v-model='newmodule.name' />
                            </div>
                            <div class='control'>
                                <button type='submit' class="button is-link is-success">{{l('add')}}</button>
                            </div>
                        </form>
                    </div>
                </div>

                <h1 class='title is-1 has-text-centered'>
                    <b style='font-family: monospace'>{{ totalLOC }}</b>
                    <small> {{l("totalLOC")}}.</small>
                    <b style='font-family: monospace'>{{ totalKLOC }}</b> <small>KLOC.</small>
                </h1>
                <h2 class='subtitle has-text-centered'>
                    {{l('consideredSize')}} 
                    <select v-model='size'>
                        <option value='0'>{{l('consideredSize0')}} ≈ 2 KLOC</option>
                        <option value='1'>{{l('consideredSize1')}} ≈ 8 KLOC</option>
                        <option value='2'>{{l('consideredSize2')}} ≈ 32 KLOC</option>
                        <option value='3'>{{l('consideredSize3')}} ≈ 128 KLOC</option>
                        <option value='4'>{{l('consideredSize4')}} ≈ 512 KLOC</option>
                    </select>
                </h2>
            </div>
        </section>

        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">3. {{l('devMode')}}.</h1>
                    <h2 class='subtitle'>{{l('devModeChoose')}}.</h2>
                </div>
            </div>
        </section>

        <section class='section' id='mode'>
            <div class='container'>
                <div class="field has-text-centered">
                    <div class="control">
                        <div class="select is-large">
                            <select v-model='mode'>
                                <option value='S'>{{l('devMode0')}}</option>
                                <option value='M'>{{l('devMode1')}}</option>
                                <option value='L'>{{l('devMode2')}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <table class='table is-bordered is-striped is-hoverable'>
                    <tbody>
                        <tr>
                            <td><b>PM<sub>nominal</sub></b>:</td>
                            <td>{{PMnominal}}</td>
                        </tr>

                        <tr>
                            <td>
                                <b>Yield<sub>nominal</sub></b>:</td>
                            <td>{{YieldNominal}} ≅ {{YieldNominalRounded}} loc/pm</td>
                        </tr>

                        <tr>
                            <td>
                                <b>{{l('effort%')}} {{l('effort%0')}} (DP)</b>:</td>
                            <td>{{yieldPercent(0)+yieldPercent(1)}}%</td>
                        </tr>

                        <tr>
                            <td>
                                <b>{{l('effort%')}} {{l('effort%1')}} (DD)</b>:</td>
                            <td>{{yieldPercent(2)}}%</td>
                        </tr>

                        <tr>
                            <td>
                                <b>{{l('effort%')}} {{l('effort%2')}} (CT)</b>:</td>
                            <td>{{yieldPercent(3)}}%</td>
                        </tr>

                        <tr>
                            <td>
                                <b>{{l('effort%')}} {{l('effort%3')}} (IT)</b>:</td>
                            <td>{{yieldPercent(4)}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>


        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">4. {{l('correctionFactors')}}.</h1>
                    <h2 class='subtitle'>{{l('correctionFactorsSubtitle')}}.</h2>
                    <h3 class='title is-6'>{{l('roundingWarning')}}.</h3>

                </div>
            </div>
        </section>
        
        <section class='section' v-for='subsys in subsystems'>
            <div class='container'>
                <h1 class='title'>{{subsys.name}}</h1>
                <table class='table is-bordered is-striped is-hoverable is-narrow is-fullwidth'>
                    <thead>
                        <th>Módulo</th>
                        <th colspan='3'>PM<sub>nominal</sub></th>
                        <th colspan='3'><abbr :title='l("CPLX")'>CPLX</abbr></th>
                        <th colspan='3'><abbr :title='l("PCAP")'>PCAP</abbr></th>
                        <th colspan='3'><abbr :title='l("VEXP")'>VEXP</abbr></th>
                        <th colspan='3'><abbr :title='l("LEXP")'>LEXP</abbr></th>
                        <th colspan='2'>EAF</th>
                        <th colspan='2'>PM<sub>{{l("estimated")}}</sub></th>
                    </thead>
                    <tbody v-for='m in subsys.modules'>
                        <tr>
                            <td rowspan='5'>{{m.name}}</td>
                            <td rowspan='5'>{{modulePMnominal(m).toFixed(2)}}</td>
                            <td style='padding:0;border:0'></td>
                            <td style='padding:0;border:0'></td>
                            <td rowspan='5'>
                                <div class="select is-small">
                                    <select v-model='m.correction[3]'>
                                        <option value='0'>{{l("EMoption0")}}</option>
                                        <option value='1'>{{l("EMoption1")}}</option>
                                        <option value='2'>{{l("EMoption2")}}</option>
                                        <option value='3'>{{l("EMoption3")}}</option>
                                        <option value='4'>{{l("EMoption4")}}</option>
                                        <option value='5'>{{l("EMoption5")}}</option>
                                    </select>
                                </div>
                            </td>
                            <td style='padding:0;border:0'></td>
                            <td style='padding:0;border:0'></td>

                            <td rowspan='5'>
                                <div class="select is-small">
                                    <select v-model='m.correction[10]'>
                                        <option value='0'>{{l("EMoption0")}}</option>
                                        <option value='1'>{{l("EMoption1")}}</option>
                                        <option value='2'>{{l("EMoption2")}}</option>
                                        <option value='3'>{{l("EMoption3")}}</option>
                                        <option value='4'>{{l("EMoption4")}}</option>
                                    </select>
                                </div>
                            </td>
                            <td style='padding:0;border:0'></td>
                            <td style='padding:0;border:0'></td>

                            <td rowspan='5'>
                                <div class="select is-small">
                                    <select v-model='m.correction[11]'>
                                        <option value='0'>{{l("EMoption0")}}</option>
                                        <option value='1'>{{l("EMoption1")}}</option>
                                        <option value='2'>{{l("EMoption2")}}</option>
                                        <option value='3'>{{l("EMoption3")}}</option>
                                    </select>
                                </div>
                            </td>
                            <td style='padding:0;border:0'></td>
                            <td style='padding:0;border:0'></td>

                            <td rowspan='5'>
                                <div class="select is-small">
                                    <select v-model='m.correction[12]'>
                                        <option value='0'>{{l("EMoption0")}}</option>
                                        <option value='1'>{{l("EMoption1")}}</option>
                                        <option value='2'>{{l("EMoption2")}}</option>
                                        <option value='3'>{{l("EMoption3")}}</option>
                                    </select>
                                </div>
                            </td>
                            <td style='padding:0;border:0'></td>
                            <td style='padding:0;border:0'></td>
                        </tr>

                        <tr>
                            <td>DP</td>
                            <td>{{modulePMnominal_DP(m).toFixed(2)}}</td>

                            <td>DP</td>
                            <td>{{moduleEM_DP(m, 3).toFixed(2)}}</td>

                            <td>DP</td>
                            <td>{{moduleEM_DP(m, 10).toFixed(2)}}</td>

                            <td>DP</td>
                            <td>{{moduleEM_DP(m, 11).toFixed(2)}}</td>

                            <td>DP</td>
                            <td>{{moduleEM_DP(m, 12).toFixed(2)}}</td>

                            <td>DP</td>
                            <td>{{moduleEAF(0, m).toFixed(2)}}</td>

                            <td>DP</td>
                            <td>{{modulePMestimated(0, m).toFixed(2)}}</td>
                        </tr>

                        <tr>
                            <td>DD</td>
                            <td>{{modulePMnominal_DD(m).toFixed(2)}}</td>

                            <td>DD</td>
                            <td>{{moduleEM_DD(m, 3).toFixed(2)}}</td>

                            <td>DD</td>
                            <td>{{moduleEM_DD(m, 10).toFixed(2)}}</td>

                            <td>DD</td>
                            <td>{{moduleEM_DD(m, 11).toFixed(2)}}</td>

                            <td>DD</td>
                            <td>{{moduleEM_DD(m, 12).toFixed(2)}}</td>

                            <td>DD</td>
                            <td>{{moduleEAF(1, m).toFixed(2)}}</td>

                            <td>DD</td>
                            <td>{{modulePMestimated(1, m).toFixed(2)}}</td>
                        </tr>

                        <tr>
                            <td>CT</td>
                            <td>{{modulePMnominal_CT(m).toFixed(2)}}</td>

                            <td>CT</td>
                            <td>{{moduleEM_CT(m, 3).toFixed(2)}}</td>

                            <td>CT</td>
                            <td>{{moduleEM_CT(m, 10).toFixed(2)}}</td>

                            <td>CT</td>
                            <td>{{moduleEM_CT(m, 11).toFixed(2)}}</td>

                            <td>CT</td>
                            <td>{{moduleEM_CT(m, 12).toFixed(2)}}</td>

                            <td>CT</td>
                            <td>{{moduleEAF(2, m).toFixed(2)}}</td>

                            <td>CT</td>
                            <td>{{modulePMestimated(2, m).toFixed(2)}}</td>
                        </tr>

                        <tr>
                            <td>IT</td>
                            <td>{{modulePMnominal_IT(m).toFixed(2)}}</td>

                            <td>IT</td>
                            <td>{{moduleEM_IT(m, 3).toFixed(2)}}</td>

                            <td>IT</td>
                            <td>{{moduleEM_IT(m, 10).toFixed(2)}}</td>

                            <td>IT</td>
                            <td>{{moduleEM_IT(m, 11).toFixed(2)}}</td>

                            <td>IT</td>
                            <td>{{moduleEM_IT(m, 12).toFixed(2)}}</td>

                            <td>IT</td>
                            <td>{{moduleEAF(3, m).toFixed(2)}}</td>

                            <td>IT</td>
                            <td>{{modulePMestimated(3, m).toFixed(2)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">5. {{l('EMattributeEvaluation')}}.</h1>
                    <h2 class='subtitle'>{{l('EMattributeEvaluationSubtitle')}}.</h2>
                </div>
            </div>
        </section>

        <section class='section'>
            <div class='container'>
                <div class='columns is-multiline is-3 is-variable'>


                    <div class='column is-one-third'>
                        <h1 class='title'>RELY</h1>
                        <h2 class='subtitle'>{{l('RELY')}}.</h2>
                        <table class='table is-bordered is-striped is-hoverable'>
                            <tr v-for='subsys in subsystems'>
                                <td><b>{{subsys.name}}</b></td>
                                <td>
                                    <div class='select'>
                                        <select v-model='subsys.correction[1]'>
                                            <option value='0'>{{l("EMoption0")}}</option>
                                            <option value='1'>{{l("EMoption1")}}</option>
                                            <option value='2'>{{l("EMoption2")}}</option>
                                            <option value='3'>{{l("EMoption3")}}</option>
                                            <option value='4'>{{l("EMoption4")}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class='column is-one-third'>
                        <h1 class='title'>DATA</h1>
                        <h2 class='subtitle'>{{l('DATA')}}.</h2>
                        <table class='table is-bordered is-striped is-hoverable'>
                            <tr v-for='subsys in subsystems'>
                                <td>
                                    <b>{{subsys.name}}</b>
                                </td>
                                <td>
                                    <div class='select'>
                                        <select v-model='subsys.correction[2]'>
                                            <option value='1'>{{l("EMoption1")}}</option>
                                            <option value='2'>{{l("EMoption2")}}</option>
                                            <option value='3'>{{l("EMoption3")}}</option>
                                            <option value='4'>{{l("EMoption4")}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class='column is-one-third'>
                        <h1 class='title'>TIME</h1>
                        <h2 class='subtitle'>{{l('TIME')}}.</h2>
                        <table class='table is-bordered is-striped is-hoverable'>
                            <tr v-for='subsys in subsystems'>
                                <td>
                                    <b>{{subsys.name}}</b>
                                </td>
                                <td>
                                    <div class='select'>
                                        <select v-model='subsys.correction[4]'>
                                            <option value='2'>{{l("EMoption2")}}</option>
                                            <option value='3'>{{l("EMoption3")}}</option>
                                            <option value='4'>{{l("EMoption4")}}</option>
                                            <option value='5'>{{l("EMoption5")}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class='column is-one-third'>
                        <h1 class='title'>STOR</h1>
                        <h2 class='subtitle'>{{l('STOR')}}.</h2>
                        <table class='table is-bordered is-striped is-hoverable'>
                            <tr v-for='subsys in subsystems'>
                                <td>
                                    <b>{{subsys.name}}</b>
                                </td>
                                <td>
                                    <div class='select'>
                                        <select v-model='subsys.correction[5]'>
                                            <option value='2'>{{l("EMoption2")}}</option>
                                            <option value='3'>{{l("EMoption3")}}</option>
                                            <option value='4'>{{l("EMoption4")}}</option>
                                            <option value='5'>{{l("EMoption5")}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class='column is-one-third'>
                        <h1 class='title'>VIRT</h1>
                        <h2 class='subtitle'>{{l('VIRT')}}.</h2>
                        <table class='table is-bordered is-striped is-hoverable'>
                            <tr v-for='subsys in subsystems'>
                                <td>
                                    <b>{{subsys.name}}</b>
                                </td>
                                <td>
                                    <div class='select'>
                                        <select v-model='subsys.correction[6]'>
                                            <option value='1'>{{l("EMoption1")}}</option>
                                            <option value='2'>{{l("EMoption2")}}</option>
                                            <option value='3'>{{l("EMoption3")}}</option>
                                            <option value='4'>{{l("EMoption4")}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class='column is-one-third'>
                        <h1 class='title'>TURN</h1>
                        <h2 class='subtitle'>{{l('TURN')}}.</h2>
                        <table class='table is-bordered is-striped is-hoverable'>
                            <tr v-for='subsys in subsystems'>
                                <td>
                                    <b>{{subsys.name}}</b>
                                </td>
                                <td>
                                    <div class='select'>
                                        <select v-model='subsys.correction[7]'>
                                            <option value='1'>{{l("EMoption1")}}</option>
                                            <option value='2'>{{l("EMoption2")}}</option>
                                            <option value='3'>{{l("EMoption3")}}</option>
                                            <option value='4'>{{l("EMoption4")}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class='column is-one-third'>
                        <h1 class='title'>ACAP</h1>
                        <h2 class='subtitle'>{{l('ACAP')}}.</h2>
                        <table class='table is-bordered is-striped is-hoverable'>
                            <tr v-for='subsys in subsystems'>
                                <td>
                                    <b>{{subsys.name}}</b>
                                </td>
                                <td>
                                    <div class='select'>
                                        <select v-model='subsys.correction[8]'>
                                            <option value='0'>{{l("EMoption0")}}</option>
                                            <option value='1'>{{l("EMoption1")}}</option>
                                            <option value='2'>{{l("EMoption2")}}</option>
                                            <option value='3'>{{l("EMoption3")}}</option>
                                            <option value='4'>{{l("EMoption4")}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class='column is-one-third'>
                        <h1 class='title'>AEXP</h1>
                        <h2 class='subtitle'>{{l("AEXP")}}.</h2>
                        <table class='table is-bordered is-striped is-hoverable'>
                            <tr v-for='subsys in subsystems'>
                                <td>
                                    <b>{{subsys.name}}</b>
                                </td>
                                <td>
                                    <div class='select'>
                                        <select v-model='subsys.correction[9]'>
                                            <option value='0'>{{l("EMoption0")}}</option>
                                            <option value='1'>{{l("EMoption1")}}</option>
                                            <option value='2'>{{l("EMoption2")}}</option>
                                            <option value='3'>{{l("EMoption3")}}</option>
                                            <option value='4'>{{l("EMoption4")}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class='column is-one-third'>
                        <h1 class='title'>MODP</h1>
                        <h2 class='subtitle'>{{l('MODP')}}.</h2>
                        <table class='table is-bordered is-striped is-hoverable'>
                            <tr v-for='subsys in subsystems'>
                                <td>
                                    <b>{{subsys.name}}</b>
                                </td>
                                <td>
                                    <div class='select'>
                                        <select v-model='subsys.correction[13]'>
                                            <option value='0'>{{l("EMoption0")}}</option>
                                            <option value='1'>{{l("EMoption1")}}</option>
                                            <option value='2'>{{l("EMoption2")}}</option>
                                            <option value='3'>{{l("EMoption3")}}</option>
                                            <option value='4'>{{l("EMoption4")}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class='column is-one-third'>
                        <h1 class='title'>TOOL</h1>
                        <h2 class='subtitle'>{{l('TOOL')}}.</h2>
                        <table class='table is-bordered is-striped is-hoverable'>
                            <tr v-for='subsys in subsystems'>
                                <td>
                                    <b>{{subsys.name}}</b>
                                </td>
                                <td>
                                    <div class='select'>
                                        <select v-model='subsys.correction[14]'>
                                            <option value='0'>{{l("EMoption0")}}</option>
                                            <option value='1'>{{l("EMoption1")}}</option>
                                            <option value='2'>{{l("EMoption2")}}</option>
                                            <option value='3'>{{l("EMoption3")}}</option>
                                            <option value='4'>{{l("EMoption4")}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class='column is-one-third'>
                        <h1 class='title'>SCED</h1>
                        <h2 class='subtitle'>{{l('SCED')}}.</h2>
                        <table class='table is-bordered is-striped is-hoverable'>
                            <tr v-for='subsys in subsystems'>
                                <td>
                                    <b>{{subsys.name}}</b>
                                </td>
                                <td>
                                    <div class='select'>
                                        <select v-model='subsys.correction[15]'>
                                            <option value='0'>{{l("EMoption0")}}</option>
                                            <option value='1'>{{l("EMoption1")}}</option>
                                            <option value='2'>{{l("EMoption2")}}</option>
                                            <option value='3'>{{l("EMoption3")}}</option>
                                            <option value='4'>{{l("EMoption4")}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>


                </div>
            </div>
        </section>

        <section class='section'>
            <table class='table is-bordered is-striped is-hoverable is-narrow is-size-7' style='margin: 0 auto'>
                <thead>
                    <tr>
                        <th><abbr :title='l("subsystem")'>SS</abbr></th>
                        <th>SLOC</th>
                        <th colspan='2'>PM<sub>SS</sub></th>
                        <th colspan='2'>RELY</th>
                        <th colspan='2'>DATA</th>
                        <th colspan='2'>TIME</th>
                        <th colspan='2'>STOR</th>
                        <th colspan='2'>VIRT</th>
                        <th colspan='2'>TURN</th>
                        <th colspan='2'>ACAP</th>
                        <th colspan='2'>AEXP</th>
                        <th colspan='2'>MODP</th>
                        <th colspan='2'>TOOL</th>
                        <th colspan='2'>SCED</th>
                        <th colspan='2'>EAF<sub>SS</sub></th>
                        <th colspan='2'>PM<sub>EST</sub></th>
                    </tr>
                </thead>

                <tbody v-for='subsys in subsystems'>
                    <tr>
                        <td rowspan='5'><b>{{subsys.name}}</b></td>
                        <td rowspan='5'>{{subsystemLOC(subsys)}}</td>
                        <td style='padding:0;border:0'></td>
                    </tr>
                
                    <tr>
                        <td>DP</td>
                        <td>{{subsystemPM(0, subsys).toFixed(1)}}</td>

                        <td>DP</td>
                        <td>{{subsystemEM(0, 1, subsys).toFixed(2)}}</td>

                        <td>DP</td>
                        <td>{{subsystemEM(0, 2, subsys).toFixed(2)}}</td>

                        <td>DP</td>
                        <td>{{subsystemEM(0, 4, subsys).toFixed(2)}}</td>

                        <td>DP</td>
                        <td>{{subsystemEM(0, 5, subsys).toFixed(2)}}</td>

                        <td>DP</td>
                        <td>{{subsystemEM(0, 6, subsys).toFixed(2)}}</td>

                        <td>DP</td>
                        <td>{{subsystemEM(0, 7, subsys).toFixed(2)}}</td>

                        <td>DP</td>
                        <td>{{subsystemEM(0, 8, subsys).toFixed(2)}}</td>

                        <td>DP</td>
                        <td>{{subsystemEM(0, 9, subsys).toFixed(2)}}</td>

                        <td>DP</td>
                        <td>{{subsystemEM(0, 13, subsys).toFixed(2)}}</td>

                        <td>DP</td>
                        <td>{{subsystemEM(0, 14, subsys).toFixed(2)}}</td>

                        <td>DP</td>
                        <td>{{subsystemEM(0, 15, subsys).toFixed(2)}}</td>

                        <td>DP</td>
                        <td>{{subsystemEAF(0, subsys).toFixed(2)}}</td>

                        <td>DP</td>
                        <td>{{subsystemPMEST(0, subsys).toFixed(2)}}</td>
                    </tr>
                
                    <tr>
                        <td>DD</td>
                        <td>{{subsystemPM(1, subsys).toFixed(1)}}</td>

                        <td>DD</td>
                        <td>{{subsystemEM(1, 1, subsys).toFixed(2)}}</td>
                        
                        <td>DD</td>
                        <td>{{subsystemEM(1, 2, subsys).toFixed(2)}}</td>
                        
                        <td>DD</td>
                        <td>{{subsystemEM(1, 4, subsys).toFixed(2)}}</td>
                        
                        <td>DD</td>
                        <td>{{subsystemEM(1, 5, subsys).toFixed(2)}}</td>
                        
                        <td>DD</td>
                        <td>{{subsystemEM(1, 6, subsys).toFixed(2)}}</td>
                        
                        <td>DD</td>
                        <td>{{subsystemEM(1, 7, subsys).toFixed(2)}}</td>
                        
                        <td>DD</td>
                        <td>{{subsystemEM(1, 8, subsys).toFixed(2)}}</td>
                        
                        <td>DD</td>
                        <td>{{subsystemEM(1, 9, subsys).toFixed(2)}}</td>
                        
                        <td>DD</td>
                        <td>{{subsystemEM(1, 13, subsys).toFixed(2)}}</td>
                        
                        <td>DD</td>
                        <td>{{subsystemEM(1, 14, subsys).toFixed(2)}}</td>
                        
                        <td>DD</td>
                        <td>{{subsystemEM(1, 15, subsys).toFixed(2)}}</td>

                        <td>DD</td>
                        <td>{{subsystemEAF(1, subsys).toFixed(2)}}</td>

                        <td>DD</td>
                        <td>{{subsystemPMEST(1, subsys).toFixed(2)}}</td>
                    </tr>
                
                    <tr>
                        <td>CT</td>
                        <td>{{subsystemPM(2, subsys).toFixed(1)}}</td>

                        <td>CT</td>
                        <td>{{subsystemEM(2, 1, subsys).toFixed(2)}}</td>
                        
                        <td>CT</td>
                        <td>{{subsystemEM(2, 2, subsys).toFixed(2)}}</td>
                        
                        <td>CT</td>
                        <td>{{subsystemEM(2, 4, subsys).toFixed(2)}}</td>
                        
                        <td>CT</td>
                        <td>{{subsystemEM(2, 5, subsys).toFixed(2)}}</td>
                        
                        <td>CT</td>
                        <td>{{subsystemEM(2, 6, subsys).toFixed(2)}}</td>
                        
                        <td>CT</td>
                        <td>{{subsystemEM(2, 7, subsys).toFixed(2)}}</td>
                        
                        <td>CT</td>
                        <td>{{subsystemEM(2, 8, subsys).toFixed(2)}}</td>
                        
                        <td>CT</td>
                        <td>{{subsystemEM(2, 9, subsys).toFixed(2)}}</td>
                        
                        <td>CT</td>
                        <td>{{subsystemEM(2, 13, subsys).toFixed(2)}}</td>
                        
                        <td>CT</td>
                        <td>{{subsystemEM(2, 14, subsys).toFixed(2)}}</td>
                        
                        <td>CT</td>
                        <td>{{subsystemEM(2, 15, subsys).toFixed(2)}}</td>

                        <td>CT</td>
                        <td>{{subsystemEAF(2, subsys).toFixed(2)}}</td>

                        <td>CT</td>
                        <td>{{subsystemPMEST(2, subsys).toFixed(2)}}</td>
                    </tr>
                
                    <tr>
                        <td>IT</td>
                        <td>{{subsystemPM(3, subsys).toFixed(1)}}</td>

                        <td>IT</td>
                        <td>{{subsystemEM(3, 1, subsys).toFixed(2)}}</td>
                        
                        <td>IT</td>
                        <td>{{subsystemEM(3, 2, subsys).toFixed(2)}}</td>
                        
                        <td>IT</td>
                        <td>{{subsystemEM(3, 4, subsys).toFixed(2)}}</td>
                        
                        <td>IT</td>
                        <td>{{subsystemEM(3, 5, subsys).toFixed(2)}}</td>
                        
                        <td>IT</td>
                        <td>{{subsystemEM(3, 6, subsys).toFixed(2)}}</td>
                        
                        <td>IT</td>
                        <td>{{subsystemEM(3, 7, subsys).toFixed(2)}}</td>
                        
                        <td>IT</td>
                        <td>{{subsystemEM(3, 8, subsys).toFixed(2)}}</td>
                        
                        <td>IT</td>
                        <td>{{subsystemEM(3, 9, subsys).toFixed(2)}}</td>
                        
                        <td>IT</td>
                        <td>{{subsystemEM(3, 13, subsys).toFixed(2)}}</td>
                        
                        <td>IT</td>
                        <td>{{subsystemEM(3, 14, subsys).toFixed(2)}}</td>
                        
                        <td>IT</td>
                        <td>{{subsystemEM(3, 15, subsys).toFixed(2)}}</td>

                        <td>IT</td>
                        <td>{{subsystemEAF(3, subsys).toFixed(2)}}</td>

                        <td>IT</td>
                        <td>{{subsystemPMEST(3, subsys).toFixed(2)}}</td>
                    </tr>
                </tbody>

            </table>
        </section>

        <section class="hero is-info">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">6. {{l('finalResult')}}.</h1>
                    <h2 class='subtitle'>{{l('finalResultSubtitle')}}.</h2>
                </div>
            </div>
        </section>

        <section class='section'>
            <div class='container'>
                <table class='table is-bordered is-hoverable is-striped'>
                    <tr>
                        <td><b>PM<sub>{{l('estimated')}}</sub></b>:</td>
                        <td>{{estimatedPM}}</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Yield<sub>{{l('estimated')}}</sub></b>:</td>
                        <td>{{YieldEstimated}} ≅ <big><b>{{YieldEstimatedRounded}} loc/pm</b></big></td>
                    </tr>
                </table>
            </div>
        </section>
    </div>

    <script src='cocomo.js'></script>

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    Made by Ryan Casas. The <a href='https://gitlab.com/theryancasas/cocomo-avanzado/' target='_blank'>source code</a> is licensed
                    <a href="https://opensource.org/licenses/GPL-3.0">GNU GPLv3</a>.
                </p>

                <p>
                    Made with <a href='https://bulma.io/' target='_blank'>Bulma</a>
                     & <a href='https://vuejs.org' target='_blank'>Vue.js</a>
                </p>
            </div>
        </div>
    </footer>    
</body>
</html>